<div class= "craft_table">
<table>
	<tr>
		<td class="title_text"><strong><%= @project.title %></strong></td>
	</tr>

	<tr>
		<td class="regular_text"><%= @project.text %></td>
	</tr>

	<% @project.images.each do |image| %>
    	<tr>
			<td><%= image_tag(image.filename, class: "craft_photo") %></td>
    	</tr>
	<% end %>

	<td class="bottom_link"><%= link_to 'Edit', edit_project_path(@project), class: "red_link" %></td>
</table>
</div>