html {
	background: url("knit.jpg") no-repeat center center fixed; 
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.craft_photo {
	width: 40%;
	padding-bottom: 5px;
}

.craft_table {
	position: relative;
	text-align: center;
	margin: auto;
	width: 60%;
	background-color: #FAFAFA;
}

.header_div {
	background-color: #515960;
	height: 40px;
	width: 101.25%;
	border-radius: 2px;
	margin-left: -10px;
	margin-top: -10px;
}

.header_links_div {
	padding-top: 10px;
	padding-left: 10px;
}

.header_text {
	font-size: 20px;
	font-family: Helvetica;
	color: white;
	text-decoration: none;
	padding: 5px;
	padding-top: 10px;
	padding-right: 15px;
}

.title_text {
	font-size: 20px;
	font-family: Helvetica;
	color: #515960;
	padding-top: 20px;
	margin-top: 0px;
	padding-bottom: 15px;
}

.regular_text {
	font-size: 15px;
	font-family: Helvetica;
	color: #515960;
	padding-bottom: 20px;
}

.text_box {
	width: 360px;
	height: 120px;
	margin-top: 7px;
}

.title_field {
	margin-top: 7px;
	width: 360px;
}

.red_link {
	font-family: Helvetica;
	color: #711414;
	text-decoration: none;
}

.bottom_link {
	padding-top: 20px;
	padding-bottom: 10px;
}