<link rel="stylesheet" type="text/css" href="application.css.scss">
<div class="header_div">
	<div class="header_links_div">
	<%= link_to "HOME", projects_path, class: "header_text" %>
	<%= link_to 'NEW PROJECT', new_project_path, class: "header_text" %>
	</div>
</div>